body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height:100vh;
  text-align: center;
  background-color: black;
  color: green;
  font-family: 'VT323', monospace;
}

h1 {
  position: relative;
  font-size: 3em;
  text-shadow: 2px 2px green;
  animation: .4s shake infinite alternate;
}
h2{
  font-size:3em;
}
p{
  font-size: 3em;
  text-shadow: 2px 2px green;
}
#menuDiv p{
  text-shadow: none;
}
button:hover{
  cursor: pointer;
}
button{
  font-size: 100%;
  font-family: inherit;
  border:0;
  padding:0;
  color: green;
  background-color: black;
}
span.welcome{
  font-size:2em;
}
div#menuDiv{
  border: 2px dashed green;
  padding: 10px;
  margin-top:30%;
}
div#menuDiv h2{
  font-size: 3em;
}


@keyframes shake {
  0% { transform: skewX(-8deg); }
  5% { transform: skewX(5deg); }
  10% { transform: skewX(-8deg); }
  15% { transform: skewX(5deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}
